<div class="employee-list">
    <alert ng-if="employees.length == 0" type="info">There are currently no employeess, be the first to add one!</alert>
     <div class="container" ng-controller="tableCtrl">
        <div class="table-container">
            <table class="table table-bordered table-hover employee-table table-scroll">
              <tbody>
                <tr>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Age</th>
                  <th>Designation</th>
                  <th>Salary</th>
                </tr>
                <tr ng-repeat="employee in employees" ng-click="setSelected(employee._id)" ng-class="{selected: employee._id === idSelectedEmployee}"  ng-init="employee = employee.doc">
                  <td>{{ employee.lastName }}</td>
                  <td>{{ employee.firstName }}</td>
                  <td>{{ employee.middleName }}</td>
                  <td>{{ employee.age }}</td>
                  <td>{{ employee.designation }}</td>
                  <td>{{ employee.salary }}</td>
                  <!--<td><input type="radio" name="row-selection" ng-value="{{ employee }}" ng-model="selectedEmployee" ng-init="employee = employee.doc"></td>-->
                </tr>
              </tbody>
            </table>
        </div>
        <div class="btn-container">
            <div class="col-xs-4 col-sm-2 col-sm-offset-3">
                <button class="btn btn-success btn-block" ui-sref="main.add()" ui-sref-opts="{reload: true, notify: true}"><span class="glyphicon glyphicon-plus"></span>Add</button>
            </div>
            <div class="col-xs-4 col-sm-2">
                <button class="btn btn-warning btn-block" ui-sref="main.edit({employeeId:idSelectedEmployee})" ui-sref-opts="{reload: true, notify: true}"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            </div>
            <div class="col-xs-4 col-sm-2">
                <button class="btn btn-danger btn-block" ui-sref="main.delete({employeeId:idSelectedEmployee})" ui-sref-opts="{reload: true, notify: true}"><span class="glyphicon glyphicon-minus"></span> Delete</button>
            </div>
           
        </div>
        <br>
        <div ui-view class="col-xs-12"></div>
    </div>
</div>